In [1]:
import pandas as pd

In [2]:
from functools import reduce

In [3]:
_MULTIINDEX_ = ['NOMBREDD', 'NOMBREPV', 'NOMBREDI', 'CONGLOMERADO', 'NSELUA', 'UA']

In [4]:
# "02_Cap200ab.csv" => UA, Crop, Mediators, Productivity variables, farmGateIncomes
# "15_Cap800.csv" => UA, Associativity
# "01_Cap100_2.csv" => UA, PlantedArea
# "14_Cap700.csv" => UA, Information variables

In [6]:
_DATAFRAMES_ = ["ena/02_Cap200ab.csv", "ena/15_Cap800.csv", "ena/01_Cap100_2.csv", "ena/14_Cap700.csv"]

In [7]:
_PATH_ = "https://public.minsky.cc/maria/market_channel_factors_db"

In [8]:
def mergeDataFrames(path, dfArray, indices):
    dfList = []
    for filename in dfArray:
        df = pd.read_csv(path + "/" + filename, index_col=None, header=0)
        dfList.append(df)
    df = reduce(lambda x, y: pd.merge(x, y, how='left', on = indices, suffixes=("", "_y")), dfList)
    filter = [col for col in df if col.endswith('y')]
    #Eliminar
    df_drop = df.drop(columns=filter)
    #Seleccionar
    df_keep = df[filter]
    return df_drop

In [9]:
df = mergeDataFrames(_PATH_, _DATAFRAMES_, _MULTIINDEX_)

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (11,14,35,36,37,38,39,40,41,46,51,57,62,72,74,76,79,81,84,90,107,109,111) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (11,25,27,38,39,40,41,42,43,44,45,46,64,65,66,67,69,70,71,72,79,80,81,82,84,85,86,87) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (11,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (11,14,20,21,22,23,24,25,26,27,28,29,30,31,33,34,35,37,38,39,41,43,44,45,47,48,49,51,53,54,55,57,59,61,62,63,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,87,88,89,90,95,96,97,98,99,100,103,104,105,106,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,271,272,273,274,275,276,277,278) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [10]:
len(df)

554354

In [11]:
df.columns

Index(['Unnamed: 0', 'ANIO', 'CCDD', 'NOMBREDD', 'CCPP', 'NOMBREPV', 'CCDI',
       'NOMBREDI', 'CONGLOMERADO', 'NSELUA',
       ...
       'P712_9', 'P713_1', 'P713_2', 'P713_3', 'P713_4', 'P713_5', 'P713_6',
       'P713_7', 'P713_8', 'OMICAP700'],
      dtype='object', length=489)

In [12]:
df

,Unnamed: 0,ANIO,CCDD,NOMBREDD,CCPP,NOMBREPV,CCDI,NOMBREDI,CONGLOMERADO,NSELUA,...,P712_9,P713_1,P713_2,P713_3,P713_4,P713_5,P713_6,P713_7,P713_8,OMICAP700
0,0,2017.0,24,TUMBES,2,CONTRALMIRANTE VILLAR,3,CANOAS DE PUNTA SAL,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,1,2017.0,24,TUMBES,2,CONTRALMIRANTE VILLAR,3,CANOAS DE PUNTA SAL,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,2,2017.0,24,TUMBES,2,CONTRALMIRANTE VILLAR,3,CANOAS DE PUNTA SAL,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,3,2017.0,24,TUMBES,2,CONTRALMIRANTE VILLAR,3,CANOAS DE PUNTA SAL,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,4,2017.0,24,TUMBES,2,CONTRALMIRANTE VILLAR,3,CANOAS DE PUNTA SAL,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554349,127366,2017.0,22,SAN MARTIN,9,SAN MARTIN,6,EL PORVENIR,90141,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
554350,127366,2017.0,22,SAN MARTIN,9,SAN MARTIN,6,EL PORVENIR,90141,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
554351,127367,2017.0,22,SAN MARTIN,9,SAN MARTIN,6,EL PORVENIR,90141,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
554352,127367,2017.0,22,SAN MARTIN,9,SAN MARTIN,6,EL PORVENIR,90141,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
554353,127368,2017.0,25,UCAYALI,1,CORONEL PORTILLO,6,NUEVA REQUENA,90143,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [14]:
#df.to_csv('ThesisDataframes/01PrincipalDatabase.csv')