In [11]:
import pandas as pd

In [12]:
from functools import reduce

In [13]:
_MULTIINDEX_ = ['NOMBREDD', 'NOMBREPV', 'NOMBREDI', 'CONGLOMERADO', 'NSELUA', 'UA']

In [14]:
# "02_Cap200ab.csv" => UA, Crop, Mediators, Productivity variables, farmGateIncomes
# "16_Cap800.csv" => UA, Associativity
# "01_Cap100_2.csv" => UA, PlantedArea
# "15_Cap700.csv" => UA, Information variables

In [15]:
_DATAFRAMES_ = ["ena2019/02_Cap200ab.csv", "ena2019/16_Cap800.csv", "ena2019/01_Cap100_2.csv", "ena2019/15_Cap700.csv"]

In [16]:
_PATH_ = "https://public.minsky.cc/maria/market_channel_factors_db"

In [17]:
def mergeDataFrames(path, dfArray, indices):
    dfList = []
    for filename in dfArray:
        df = pd.read_csv(path + "/" + filename, index_col=None, header=0)
        dfList.append(df)
    df = reduce(lambda x, y: pd.merge(x, y, how='left', on = indices, suffixes=("", "_y")), dfList)
    filter = [col for col in df if col.endswith('y')]
    #Eliminar
    df_drop = df.drop(columns=filter)
    #Seleccionar
    df_keep = df[filter]
    return df_drop

In [18]:
df = mergeDataFrames(_PATH_, _DATAFRAMES_, _MULTIINDEX_)

/Users/marianoriega/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (11,17,52,60,63,77,79,83,85,89,95,97,99,101) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/Users/marianoriega/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (11,17,26,39,40,41,42,43,44,45,46,47,65,66,67,68,70,71,72,73,80,81,82,83,85,86,87,88) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/Users/marianoriega/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (11,17,23,25) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/Users/marianoriega/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (11,17,21,22,23,24,25,26,28,31,34,37,40,43,46,55,61,70,76,79,82,88,91,94,97,100,104,107,119,122,131,134,137,143,146) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [19]:
len(df)

536816

In [20]:
df.columns

Index(['Unnamed: 0', 'ANIO', 'CCDD', 'NOMBREDD', 'CCPP', 'NOMBREPV', 'CCDI',
       'NOMBREDI', 'CONGLOMERADO', 'NSELUA',
       ...
       'P712_9', 'P713_1', 'P713_2', 'P713_3', 'P713_4', 'P713_5', 'P713_6',
       'P713_7', 'P713_8', 'OMICAP700'],
      dtype='object', length=537)

In [21]:
df

,Unnamed: 0,ANIO,CCDD,NOMBREDD,CCPP,NOMBREPV,CCDI,NOMBREDI,CONGLOMERADO,NSELUA,...,P712_9,P713_1,P713_2,P713_3,P713_4,P713_5,P713_6,P713_7,P713_8,OMICAP700
0,0,2019.0,24,TUMBES,2,CONTRALMIRANTE VILLAR,3,CANOAS DE PUNTA SAL,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,1,2019.0,24,TUMBES,2,CONTRALMIRANTE VILLAR,3,CANOAS DE PUNTA SAL,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,2,2019.0,24,TUMBES,2,CONTRALMIRANTE VILLAR,3,CANOAS DE PUNTA SAL,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,3,2019.0,24,TUMBES,2,CONTRALMIRANTE VILLAR,3,CANOAS DE PUNTA SAL,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,4,2019.0,24,TUMBES,2,CONTRALMIRANTE VILLAR,3,CANOAS DE PUNTA SAL,1,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536811,122700,2019.0,20,PIURA,1,PIURA,7,CURA MORI,90238,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
536812,122701,2019.0,20,PIURA,1,PIURA,14,TAMBO GRANDE,90239,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
536813,122702,2019.0,20,PIURA,1,PIURA,14,TAMBO GRANDE,90239,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
536814,122703,2019.0,20,PIURA,1,PIURA,14,TAMBO GRANDE,90239,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
536815,122704,2019.0,20,PIURA,1,PIURA,14,TAMBO GRANDE,90239,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [25]:
#df.to_csv('~/Desktop/DatosENA2019/2019_01PrincipalDatabase.csv')