In [1]:
import pandas as pd

In [2]:
_MULTIINDEX_ = ['NOMBREDD', 'NOMBREPV', 'NOMBREDI', 'CONGLOMERADO', 'NSELUA', 'UA']

In [3]:
_CROP_ = "PAPA BLANCA"

In [4]:
_PATH_ = "https://public.minsky.cc/maria/market_channel_factors_db"

In [8]:
df = pd.read_csv(_PATH_ + "/" + "databases/2019_01PrincipalDatabase.csv")

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12,15,35,36,37,38,39,40,41,42,44,47,48,49,50,52,55,58,63,68,73,75,77,80,82,85,87,91,108,110,112,119,121,123,125,127,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,195,196,197,198,199,200,201,202,203,204,207,209,214,215,216,217,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [10]:
df.columns

Index(['ANIO', 'CCDD', 'NOMBREDD', 'CCPP', 'NOMBREPV', 'CCDI', 'NOMBREDI',
       'CONGLOMERADO', 'NSELUA', 'UA',
       ...
       'P712_9', 'P713_1', 'P713_2', 'P713_3', 'P713_4', 'P713_5', 'P713_6',
       'P713_7', 'P713_8', 'OMICAP700'],
      dtype='object', length=488)

In [11]:
df.groupby(_MULTIINDEX_)["P204_NOM"].unique().reset_index().rename(columns={"P204_NOM": "cropsList"})

,NOMBREDD,NOMBREPV,NOMBREDI,CONGLOMERADO,NSELUA,UA,cropsList
0,AMAZONAS,BAGUA,ARAMANGO,5145,6,1,"[PLATANO, CAÑA DE AZUCAR PARA FRUTA, PITUCA, P..."
1,AMAZONAS,BAGUA,ARAMANGO,5145,15,2,"[YUCA, PLATANO, PITUCA, MAIZ AMARILLO DURO]"
2,AMAZONAS,BAGUA,ARAMANGO,5145,28,3,"[MAIZ AMARILLO DURO, CACAO, PITUCA, YUCA, PLAT..."
3,AMAZONAS,BAGUA,ARAMANGO,5145,29,4,"[CAÑA DE AZUCAR PARA FRUTA, YUCA, MAIZ AMARILL..."
4,AMAZONAS,BAGUA,ARAMANGO,5145,37,5,"[CACAO, PLATANO, YUCA, PITUCA]"
...,...,...,...,...,...,...,...
26456,UCAYALI,PURÚS,PURÚS,10601,76,10,"[PIÑA, PLATANO]"
26457,UCAYALI,PURÚS,PURÚS,10601,84,11,"[PLATANO, YUCA, MAIZ AMARILLO DURO]"
26458,UCAYALI,PURÚS,PURÚS,10601,86,12,[PLATANO]
26459,UCAYALI,PURÚS,PURÚS,10601,99,13,"[PLATANO, YUCA]"
26460,UCAYALI,PURÚS,PURÚS,10601,101,14,"[PLATANO, PAPAYA]"

In [12]:
def getCropDataFrame(df, cropName):
    cropsList = df.groupby(_MULTIINDEX_)["P204_NOM"].unique().reset_index().rename(columns={"P204_NOM": "cropsList"})
    cropsList["crops"] = cropsList["cropsList"].apply(lambda x: sorted(x)).apply(', '.join)
    cropDB = cropsList[cropsList["crops"].str.contains(cropName)].reset_index(drop=True)
    return pd.merge(cropDB, df, how='left', on=_MULTIINDEX_, suffixes=('', '_y')).rename(columns={"P204_NOM": "crop"})

In [13]:
df_crop = getCropDataFrame(df, _CROP_)

In [14]:
len(df), len(df_crop)

(554354, 188420)

In [15]:
df_crop.columns

Index(['NOMBREDD', 'NOMBREPV', 'NOMBREDI', 'CONGLOMERADO', 'NSELUA', 'UA',
       'cropsList', 'crops', 'ANIO', 'CCDD',
       ...
       'P712_9', 'P713_1', 'P713_2', 'P713_3', 'P713_4', 'P713_5', 'P713_6',
       'P713_7', 'P713_8', 'OMICAP700'],
      dtype='object', length=490)

In [16]:
#df_crop.to_csv('~/Desktop/DatosENA2019/2019_02DatabaseFilteredByWhitePotato.csv')

In [17]:
df_crop[["crop", "cropsList"]]

             crop                                          cropsList
0       RYE GRASS  [RYE GRASS, PASTO KIKUYO, BETARRAGA, PAPA BLANCA]
1       RYE GRASS  [RYE GRASS, PASTO KIKUYO, BETARRAGA, PAPA BLANCA]
2       RYE GRASS  [RYE GRASS, PASTO KIKUYO, BETARRAGA, PAPA BLANCA]
3       RYE GRASS  [RYE GRASS, PASTO KIKUYO, BETARRAGA, PAPA BLANCA]
4       RYE GRASS  [RYE GRASS, PASTO KIKUYO, BETARRAGA, PAPA BLANCA]
...           ...                                                ...
188415    OREGANO  [HABA GRANO VERDE, TUNA FRUTA, MANZANO, MELOCO...
188416    OREGANO  [HABA GRANO VERDE, TUNA FRUTA, MANZANO, MELOCO...
188417    OREGANO  [HABA GRANO VERDE, TUNA FRUTA, MANZANO, MELOCO...
188418    OREGANO  [HABA GRANO VERDE, TUNA FRUTA, MANZANO, MELOCO...
188419    OREGANO  [HABA GRANO VERDE, TUNA FRUTA, MANZANO, MELOCO...

[188420 rows x 2 columns]